.App {
    text-align: center;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 1fr;
    grid-gap: 1vw;
    grid-template-areas:
            "header"
            "page"
            "footer";
}

@media all and (max-width: 575px) {
    body {
        grid-template-areas: "header" "page" "footer";
        grid-template-rows: 10% 70% 20%;
        grid-template-columns: 1fr;
    }
}